In [1]:
from kplib.dumbo import Dumbo, FeatureOptions, EvaluationOptions, DataframeInput, FileInput
import pandas as pd
import numpy as np
from pysnowflake.simple import Session
import blocks

/usr/local/lib/python3.7/dist-packages/pysnowflake/__init__.py:21: FutureWarning:
    With pysnowflake version 1.0.0 there will be a breaking change.
    The legacy api will be dropped as it is no longer maintained, and simple will become the only api.
    This will make it easier to keep support for newer features like AWS support, etc. The expected change is
    the start of Q2 2022.

  FutureWarning,

In [2]:
def PullRule5(st_dt, ed_dt):
    with Session() as ss:
        df  = ss.download(query="""
            select
            os.*
            from
            app_capital.app_capital.offer_sets os
            where
            os.product_id = 3
            and os.offer_created_at between '{}' and '{}'
            and os.COUNTRY_CODE = 'US'
            and os.MERCHANT_BUSINESS_TYPE in ('charitible_orgs','charitable_social_service_organizations','political_organizations','tourism','travel_tourism','travel_agencies_and_tour_operators');
            """.format(st_dt, ed_dt)) 
    return df

In [3]:
df5 = PullRule5('2022-11-01', '2022-11-02')

In [4]:
count_value = df5[('was_accepted')].groupby(df5['merchant_business_type']).sum()
df5_count = pd.DataFrame({'merchant_business_type':count_value.index, 'Count':count_value.values})
df5_count

               merchant_business_type  Count
0                     charitible_orgs      0
1                             tourism      0
2  travel_agencies_and_tour_operators      0

In [5]:
df5 = PullRule5('2022-11-02', '2022-11-03')

In [6]:
count_value = df5[('was_accepted')].groupby(df5['merchant_business_type']).sum()
df5_count = pd.DataFrame({'merchant_business_type':count_value.index, 'Count':count_value.values})
df5_count

               merchant_business_type  Count
0                     charitible_orgs      0
1                             tourism      0
2  travel_agencies_and_tour_operators      0

In [7]:
df5 = PullRule5('2022-11-03', '2022-11-04')

In [8]:
count_value = df5[('was_accepted')].groupby(df5['merchant_business_type']).sum()
df5_count = pd.DataFrame({'merchant_business_type':count_value.index, 'Count':count_value.values})
df5_count

  merchant_business_type  Count
0        charitible_orgs      0
1                tourism      0

In [9]:
df5 = PullRule5('2022-11-04', '2022-11-05')

In [10]:
count_value = df5[('was_accepted')].groupby(df5['merchant_business_type']).sum()
df5_count = pd.DataFrame({'merchant_business_type':count_value.index, 'Count':count_value.values})
df5_count

  merchant_business_type  Count
0        charitible_orgs      0
1                tourism      0

In [11]:
df5 = PullRule5('2022-11-05', '2022-11-06')

In [12]:
count_value = df5[('was_accepted')].groupby(df5['merchant_business_type']).sum()
df5_count = pd.DataFrame({'merchant_business_type':count_value.index, 'Count':count_value.values})
df5_count

               merchant_business_type  Count
0                     charitible_orgs      0
1                             tourism      0
2  travel_agencies_and_tour_operators      0